body {
  background-image: url("../images/urb2.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: #f0f0f0;
  font-family: sans-serif;
  line-height: 1.6;
}

a {
  color: #8ec3b0;
}

h1, h2, h3 {
  color: #ffffff;
}

